# https://github.com/github/gitignore/blob/master/CMake.gitignore
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
.DS_Store
#Additions to https://github.com/github/gitignore/blob/master/CMake.gitignore
Testing
compile_commands.json
.usages_clang
dist/
# *.crt
# *.key
*.pem
*.db

node_modules/
.vs
build/
_build/
.vscode/
docs/doxygen_output
*.bin
*.zip
temp/
memo.md